<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sincar.customer">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- 카메라 기능 사용 (이미지솔루션) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 디바이스 상태값 읽기 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 전화걸기 -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 내부저장소 쓰기 (native) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 내부저장소 읽기 (전체 : 파일을 읽기위해) -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS"/> -->
    <!-- SMS 인증번호 자동 삽입을 위해 -->
    <!-- END -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 (전체) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="merge" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".HWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/google_maps_key" />-->

        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="89cc904abf4cae66494ac25d80f5df3b"/>

        <activity
            android:name=".SplashActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="a" /> <!-- isp 커스텀스키마 -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="a" /> <!-- 계좌이체 커스텀스키마 -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="a" /> <!-- paypin 커스텀스키마 -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="a" /> <!-- paynow 커스텀스키마 -->
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivityPre"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 로그인 -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MemberShipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 회원가입 -->
        <activity
            android:name=".PointHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 10. 포인트 내역 -->
        <activity
            android:name=".PointInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 11. 포인트 정보 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 14. 메인(대리점 홈 화면) -->
        <activity
            android:name=".BusinessHourMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 15. 영업시간 설정 메인 -->
        <activity
            android:name=".ReservationMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 예약 전체 보기 메인 -->
        <activity android:name=".PaymentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 결제 화면 -->
        <activity
            android:name=".ReservationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 16. 예약 접수건 -->
        <activity
            android:name=".ReservationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 5. 비밀번호 변경 -->
        <activity
            android:name=".ProfilePhotoChangeActivity"
            android:label="@string/title_activity_profile_photo_change"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 8. 프로필 사진 변경 -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 17. 세차지 위지 치도 -->
        <activity
            android:name=".ReservationCalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 예약일 선택 -->
        <activity
            android:name=".ReservationTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 예약시간 선택 -->
        <activity
            android:name=".ReservationAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 지도 주소 검색 -->
        <activity
            android:name=".sy_rentcar.Rental_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 렌탈카 리스트 -->
        <activity
            android:name=".sy_rentcar.Rental_list_filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sy_rentcar.Rental_list_filter_age"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sy_rentcar.Rental_list_filter_brand"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sy_rentcar.Rental_list_filter_price"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".sy_rentcar.Rental_list_filter_type"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MyProfileSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 21. 내 정보 관리 -->
        <activity
            android:name=".ActiveAreaSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 19. 활동 지역 설정 -->
        <activity
            android:name=".ActiveAreaAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 19. 활동 지역 추가 -->
        <activity
            android:name=".BranchInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 22. 대리점 정보 시작 -->
        <activity
            android:name=".DriverLicenseInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 23. 운전면허증 정보 -->
        <activity
            android:name=".PushAndVersionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- 24. 알림 및 버전 정보 시작 -->
        <activity
            android:name=".MyProfileSettingsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 25. 내 정보 상세 시작 -->
        <activity
            android:name=".MyProfileSettingsRecomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 26. 추천인 관리 시작 -->
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 27. 공지사항 시작 -->
        <activity
            android:name=".NoticeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 28. 공지사항 상세보기 시작 -->
        <activity
            android:name=".CardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 29. 결재카드 시작 -->
        <activity
            android:name=".CardRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 29. 결재카드 등록 시작 -->
        <activity
            android:name=".CouponeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 쿠폰 시작 -->
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 설정 정보 시작 -->
        <activity
            android:name=".CarManageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 차량관리 시작 -->
        <activity
            android:name=".CarRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 차량등록 시작 -->
        <activity
            android:name=".UseHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 이용내역 시작 -->
        <activity
            android:name=".UseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 이용내역 상세 시작 -->
        <activity
            android:name=".UseDeleteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 이용내역 예약취소 시작 -->
        <activity
            android:name=".UseDeleteSettleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 이용내역 예약취소 상세 시작 -->
        <activity
            android:name=".UseTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 내정보 이용및약관 시작 -->

        <activity
            android:name=".PayApproveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 결제 시작 -->

        <activity
            android:name=".PayApproveResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 결제 완료 -->

        <activity
            android:name=".UseTerms1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 이용약관/알림수신.. 상세 -->

        <activity
            android:name=".UseTerms2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 취소정책 상세 -->

        <activity
            android:name=".MemberJoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 회원가입 시작 -->

        <activity
            android:name=".MemberAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 인증번호 시작 -->

        <activity
            android:name=".MemberNickNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 본인실명 시작 -->

        <activity
            android:name=".MemberRecomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 본인실명 시작 -->

        <activity
            android:name=".MemberJoinTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" /> <!-- 약관동의 시작 -->

        <activity android:name=".TemplateActivity" /> <!-- template activity -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>